<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

			<p>&copy 2022 Van der Sar Lab. Site forked from <a href="https://www.allanlab.org/aboutwebsite.html">Allan lab</a>.
		</p>
		<p> We are part of the  <a href="https://kavli.tudelft.nl/">Kavli Institute of Nanoscience</a> and the <a href="http://qn.tudelft.nl/">Department of Quantum Nanoscience</a> at <a href="https://www.tudelft.nl">Delft University of Technology.</a> </p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://www.nwo.nl/en/researchprogrammes/open-competition-enw">Open competition</a>, <a href="https://www.nwo.nl/en/onderzoeksprogrammas/nwo-talent-programme/projects-vidi/2019">VIDI</a>, and <a href='https://www.tudelft.nl/en/2019/tnw/two-as-researchers-to-lead-new-nwa-programmes/'>NWA-ORC</a> grants from <a href="http://www.nwo.nl">NWO</a> <br />
		  - <a href="https://casimir.researchschool.nl/nanofront-1962.html">Frontier of Nanosciences</a>, a gravity program from <a href="http://www.nwo.nl">NWO</a><br />
		  - The <a href="http://www.kavlifoundation.org/">Kavli Foundation</a>
		</div>

		<div class="col-sm-4">
		  Contact:<br />
		  Kavli Institute of Nanoscience <br />
		  Delft University of Technology<br />
		  Lorentzweg 1<br />
		  2628CJ Delft<br />
		  The Netherlands<br />
		  (<a href="https://goo.gl/maps/Zen12zL6mD9GzbiCA">Maps</a>)
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
